/* 
  - body normalmente tem a altura e largura do proprio conteudo, entao normalmente nós mesmos definimos essa info

  - em css a ultima info é a que conta, mas nao eh uma pratica mto boa 

  - viewport é toda a parte visível

  - asterisco seleciona todos os elementos html existentes na página

 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* boxsizing border box ajuda a manter o width/largura da caixa de por ex 100px e adicionar preenchimento de 20px, eles adicionam, o border box mantém sempre o mesmo width */
  
   body {
    background-color: #09090A;
    color: white;
    height: 100vh;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    position: fixed;
    background-color: #09090A;
    width: 100%;
  }

/* 

- um botao, por padrao, tem um display inline em relacao ao elemento ao lado dele (como a img), ou seja, fica em linha, o flex ja deixa flexivel, e os elementos dentro tambem. o align items só funcioan se o flex existir. 

- o display padrao das divs é em block, por isso que quando utilizamos flex eles vao pro lado do outro
    
- display eh a disposicao dos elementos dentro de uma caixa

- o display flex deve ser aplicado sobre o pai pq vai haver efeito nos filhos diretos.. 

- se eu quiser que o container se comporte como flex, preciso aplicar no pai dele, que é o body!!!!!! a tag de maior propriedade que carrega conteúdo pra nós
PORÉM
apesar de se pintarmos o body de uma cor e toda a pagina receber ela, o navegador que renderiza o alinhamento flex do nosso body fica do tamanho do conteúdo que está dentro dele
    
    
    */

  button {
    padding: 16px 24px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #8B5CF6;
    background-color: #09090A;
    color: white;
    display: flex; 
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    cursor: pointer;
  }

  button:hover {
    background: #27272A
  }

  #form-habits {
    display: flex;
    padding: 182px 40px 40px;
    width: fit-content;
  }

  .habits {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;
  }

  .habit {

    height: 64px;
    width: 64px;

    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .days {
    display: flex;
    gap: 48px;
    margin-left: 32px;
  }

  .day {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .day div {
    margin-bottom: 8px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    color: #A1A1AA;
    text-align: center;
  }

  input {
    appearance: none;
    -webkit-appearance: none;

    width: 64px;
    height: 64px;

    border: 2px solid #27272A;
    border-radius: 8px;

    background-color: #18181B;
  }

  /* pseudo-selector */
  input:checked {
    background-color: #8B5CF6;
    border: 2px solid #A78BFA;
  }

  @media (max-width:570px) {
    button div {
      display: none;
    }
  }